:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-image: url("./assets/mountains.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 8px 15px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #646cff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ffffff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.message {
  padding: 5px 5px 5px 5px;
  border-radius: 8px;
  
  line-height: 1.4;
  color: #ffffff;
}

.chatbox {
  padding: 20px;
  max-width: 560px;
  margin: 0 auto;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.message-container {
  border: 1px solid #ccc;
  padding: 10px;
  height: 300px;
  overflow-y: auto;
  margin-bottom: 10px;
  background-color: #213547;
}

.input-container {
  display: flex;
  gap: 10px;
  
}

.input-box {
  flex: 1;
  padding: 8px;
  background-color: #213547;
}

.page {
  position: relative;
  min-height: 100vh;
}

.angus {
  position: absolute;
  bottom: 0;
  left: 40px;     /* adjust to move him left/right */
  width: 180px;    /* or whatever size fits your design */
  pointer-events: none; /* so he doesn't block clicks */
}
